fastapi
uvicorn

langchain
langchain-community
langchain-openrouter
langchain-qdrant
openrouter

crewai

qdrant-client

pypdf

elasticsearch

deepeval

python-dotenv

python-multipart

pydantic
pydantic-settings

tiktoken

pytest

sentence-transformers
